/* ------------------------- Flex ------------------------- */

.flex {
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.flex.flex-1 {
	justify-content: space-between;
	article {
		width: 32%;
		height: auto;
		background-color: white;      
	}
}

.flex.flex-2 {
	justify-content: space-between;
}

.flex.flex-3 {
	justify-content: space-between;
}

.flex.flex-4 {
	justify-content: space-between;
	article {
		width: 32%;
		height: auto;
		background-color: white;   
	}
}