/* ------------------------- Flex ------------------------- */

.flex {
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.flex.flex-1 {
	justify-content: space-between;
	article {
		width: 32%;
		height: auto;
		background-color: white;      
	}
}

@media only screen and (max-width: 1024px) {
	.flex.flex-1 {
		article {
			width: 100%;
			margin: 15px 20% 0 20%;
			display: block;
    	justify-content: center;
    	align-items: center;      
		}
	}
}

@media only screen and (max-width: 672px) {
	.flex.flex-1 {
		article {
			width: 100%;
			margin: 15px 0 0 0;
			display: block;
    	justify-content: center;
			align-items: center;   
			transition: 1s;   
		}
	}
}

.flex.flex-2 {
	justify-content: space-between;
}


.flex.flex-3 {
	justify-content: space-between;
}

.flex.flex-4 {
	justify-content: space-between;
	article {
		width: 32%;
		height: auto;
		background-color: white;   
	}
}

@media only screen and (max-width: 876px) {
  .flex.flex-4 {
		display: block;
		article {
			width: 100%;
			margin-top: 15px;
		}
  }
}