/* ------------------------- Footer ------------------------- */
@import '../utilities/variables';


#footer {
  padding: 50px 0;
  background: #414141;
  color: $white;
  text-align: center;

  h3 {
    color: $white;
    margin-bottom: 2em !important;
  }

  label {
    text-align: left;
    color: $white;
  }

  .copyright {
    letter-spacing:0.1em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16pt;
    margin: 10px 0 10px 0;
    padding: 0;

    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
    }

    a:hover {
      color: $white;
    }
  }
}

@media only screen and (max-width: 414px) {
  #footer {
    padding: 20px 0;
  
    .copyright {
      letter-spacing:0.1em;
      color: rgba(255, 255, 255, 0.5);
      font-size: 5pt;
      margin: 10px 0;
      padding: 0;
      }
    }
  }