/* ------------------------- Form ------------------------- */
@import '../utilities/variables';


form {
  width: 50%;

  .field {
    margin-bottom: 1.5em;

    textarea {
      resize: none;
    }
  }

  .field.half {
    display: inline-block;
    width: 48%;
  }

  .field.half.first {
    margin-right: 3%;
  }
}

.form {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
  url(../img/CONTACT/contact.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  padding: 60px;
  
  h3 {
    color: $white;
    font-size: 36pt;
    margin-bottom: 100px;
    float: left;

  }
  article {
    margin: 0 0 100px 50px;
    overflow:hidden;
    border-radius: 5px;
    color: $gray;
    background-color: $white;	
    width: 60%;


    h3 {
      letter-spacing:0.05em;
      color: #4a4747c9;
      text-align: left;
      padding: 0 0 0 60px;
      margin: 40px 0;
      font-size: 40pt;
      width: 100%;
    }
  
    p {
      line-height: 35pt;
      letter-spacing:-0.02em;
      text-align: left;
      padding: 50px 20px 0 60px;
      margin: 0;
      font-size: 20pt;
      img {
        width: 15px;
        height: auto;
        filter: invert(60%) sepia(25%) saturate(1171%) hue-rotate(92deg) brightness(88%) contrast(93%);
      }
    }
  }
}

#form {
  display: flex;
  justify-content: center;	
  a.buttonSend {
    float: left;
  }	
}	

label {
  color: #c0c0c0b4;
  display: block;
  font-size: 0.9em;
  margin: 0 0 1em 0;
  text-align: left;
  font-size: 20pt;

  img {
    width: 25px;
    height: auto;
    opacity: 0.5;
    filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(264deg) brightness(118%) contrast(95%);
  }
}

input[type="text"],
input[type="email"],
select,
textarea {
  appearance: none;
  background: transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $white;
  border-radius: 5px 5px 0 0;
  color: $white;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

  input[type="text"]:invalid,
  input[type="email"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none;
  }

  input[type="text"]:focus,
  select:focus,
  textarea:focus {
    border-bottom: 3px solid $white;
  }

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

  .select-wrapper:before {
    content: "";
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  .select-wrapper:before {
    color: $white;
    display: block;
    height: 2.75em;
    line-height: 40pt;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
  }

  .select-wrapper select::-ms-expand {
    display: none;
  }

input[type="text"],
input[type="email"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}



@media only screen and (max-width: 1280px) {
  #form {
    display: block;
    article {
      display: inline-flex;
      height: auto;
      width: 100%;
      margin: 15px auto;
      transition: 1s;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      header {
        display: none;
      }

      p {
        padding: 0 0 0 60px;
        margin-top: 10px;
      }
    }
  }
  }

  form {
    width: 100%;
  }
  @media only screen and (max-width: 670px) {
    .form {
      padding: 0;

      h3 {
        font-size: 16pt;
      }
    }

    label {
      font-size: 10pt;
    }

    #form {
      p {
        font-size: 16px;
        width: 100%;
        align-items: left;
        padding: 0;
      }
    }
  }

  @media only screen and (max-width: 310px) {
    #form {
      p {
        font-size: 10px;
      }
    }
  }



