/* ------------------------- Header ------------------------- */
@import '../utilities/variables';


.header {
  margin-top: 40px;
  background-color: transparent;
  width: 100%;
  z-index: 10001;
  position: absolute;
  top: 1.5em;

}

.header ul {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 16pt;

}

.header li a {
  color: $white;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #f4f4f48c;
  transition: 1s;
}

.header .logo {
  text-decoration: none;
  border: 3px solid $white;
  border-radius: 5px;
  color: $white;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 0;
  padding: 8px 8px 8px 12px;
  position: absolute;
  top: 0;
  font-size: 20.28pt;
}

@media only screen and (max-width: 1000px) {
  .header {
    ul {
      li {
        a {
          font-size: 12pt;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    ul {
      li {
        a {
          font-size: 10pt;
          line-height: 1pt;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .header .logo {
    border: 2px solid $white;
    line-height: 16px;
    letter-spacing: 1px;
    padding: 3px 4px 2px 4px;
    font-size: 12pt;
  }
}