/* ------------------------- Header ------------------------- */

.header {
  background-color: transparent;
  width: 100%;
  z-index: 10001;
  position: absolute;
  top: 1.5em;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 16pt;

}

.header li a {
  color: #fff;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #f4f4f48c;
  transition: 1s;
}

.header .logo {
  text-decoration: none;
  border: 3px solid white;
  border-radius: 5px;
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 0;
  padding: 8px 8px 8px 12px;
  position: absolute;
  top: 0;
  font-size: 20.28pt;
}


