/* ------------------------- Section/Article ------------------------- */


section.special, article.special {
	text-align: center;

	article {
		text-align: left;
	}
}

section.wrapper, article.wrapper {
	padding: 6em 0;
	background: rgb(233,233,233);
	background: $sectionBackground;
	
	header h2 {
		font-size: 2.75em;
		margin: 0 0 .5em 0;
	}

	header p {
		font-size: 1em;
	}

	article header {
		margin: 0;
	}

	header p {
		color: #bbb;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}
}

/* ------------------------- Brand logo section ------------------------- */

.brand-logo {
  li {
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 30px;
    a {
      img {
        overflow:hidden;
        width: 200px;
        height: auto;
        filter: invert(48%) sepia(0%) saturate(0%) hue-rotate(130deg) brightness(0%) contrast(0%);
        &:hover {
          filter: none;
          transition: 0.5s;
        }
      }
    }
  }
}

@media only screen and (max-width: 1685px) {
  .brand-logo {
    li {
      a {
        img {
          width: 120px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .brand-logo {
    li {
      display: block;
      justify-content: center;
      align-items: center;
      a {
        img {
          transition: 1s;
        }
      }
    }
  }
}

@media only screen and (max-width: 250px) {
  .brand-logo {
    li {
      a {
        img {
          width: 50px;
        }
      }
    }
  }
}

/* ------------------------- Blog section ------------------------- */

.blog {
  overflow:hidden;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  &:hover { 
    box-shadow: 0 15px 15px rgba(126, 126, 126, 0.6); 
    transition: 1s;
  }

  h3 {
    font-size: 24pt;
    text-align: left;
    padding: 25px 0 0 25px ;
  }

  p {
    font-size: 14pt;
    letter-spacing: 0;
    line-height: 24.5pt;
    text-align: left;
    padding: 0 25px;
  }

  footer {
    p{
      display: inline-block;
      color: rgba(0, 0, 0, 0.5);
      img {
        width: 12px;
        height: 12px;
        filter: invert(48%) sepia(30%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
      }
    }
  }
}

@media only screen and (max-width: 1331px) {
  .blog {
    h3 {
      line-height: 26pt;
    }

    

  }
}

@media only screen and (max-width: 1123px) {
  .blog {

    h3 {
      line-height: 30pt;
    }
  }
}

@media only screen and (max-width: 656px) {
  .blog {
  
    h3 {
      font-size: 14pt;
    }
  
    p {
      font-size: 10pt;
      line-height: 16pt;
    }
  }
}

@media only screen and (max-width: 310px) {
  .blog {
  
    h3 {
      font-size: 10pt;
    }
  
    p {
      font-size: 8pt;
    }
  }
}



/* ------------------------- Social media links section ------------------------- */

.boldtitle {
  letter-spacing:0.075em;
  font-weight: bold;
  font-size: 50pt;
  margin: 0 0 20px 0;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .boldtitle {
    font-size: 30pt;
  }
}

@media only screen and (max-width: 500px) {
  .boldtitle {
    font-size: 12pt;
  }
}

.social-icons {
  li {
    display: inline;
    margin-right: 20px;
    img {
      width: 15px;
      height: 15px;
      filter: invert(48%) sepia(0%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
      &:hover {
        filter: invert(48%) sepia(30%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
        transition: 0.5s;
      }
    }
  }
}

/* ------------------------- Review section ------------------------- */


.review {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
  url(../img/REVIEW/review.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
	padding: 100px;
	height: 100%;

	article {
		background-color: #fff;
    border-radius: 5px;
	}
}

.slidetext {
  padding: 10px 5px;
  color: #434343;
  line-height: 32pt;
  letter-spacing:0.075em;
  font-size: 16pt;
  font-family: "montserrat", sans-serif;
}


@media only screen and (max-width: 1024px) {
	.review {
    padding: 100px 20px;
    article {
      width: 80%;
    }
	}
}

@media only screen and (max-width: 660px) {
	.review {
    padding: 100px 10px;
    article {
      width: 100%; 
    }
  }
  
  .slidetext {
    padding: 5px 5px;
    font-size: 10pt;
    line-height: 16pt;
  }
}


/* ------------------------- Service section ------------------------- */

.service_box {
  overflow: hidden;
  height:100%; width:100%;
  border: 3px solid rgba(3, 197, 155, 0);
  border-radius: 5px;
  box-shadow: 0 0 7px rgb(184, 184, 184);
  padding: 40px 0 0 0;
  cursor: pointer;
  &:hover { 
    box-shadow: 0 15px 15px rgba(126, 126, 126, 0.6);
    transition: 1s;
   }

  h3 {
    margin: 10px 0 0 0;
    font-size: 18pt;
    letter-spacing:0.1em;
  }

  p {
    padding: 0 10px;
    line-height: 32pt;
    font-size: 16pt;
    letter-spacing: 0;
  }
}


@media screen and (max-width: 680px) {
  .service_box {
    h3 {
      font-size: 12pt;
    }

    p {
      font-size: 10pt;
      line-height: 20pt;
    }
  }
}
