/* ------------------------- Button ------------------------- */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: $primary;
  box-shadow: inset 0 0 0 3px $primary;
  color: #fff !important;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 20pt;
  height: 3.50em;
  line-height: 3.50em;
  letter-spacing:0.05em;
  padding: 0 2em;
  margin: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    background-color: $btnHover;
    box-shadow: inset 0 0 0 3px $btnHover;
    transition: 1s;
  }


  input[type="submitSend"],
  input[type="resetSend"],
  input[type="buttonSend"],
  buttonSend,
  .buttonSend {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: white;
    box-shadow: inset 0 0 0 3px white;
    color: $primary !important;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 18pt;
    height: 3em;
    line-height: 3em;
    letter-spacing:0.05em;
    padding: 0 3em;
    margin: 50px 50px 50px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  
    &:hover {
      background-color: $btnHover;
      box-shadow: inset 0 0 0 3px $btnHover;
      color: white !important;
      transition: 1s;
    }
  }
  

  @media only screen and (max-width: 400px) {
    .button {
      margin: 0;     
    }
  }


  /* ------------------------- Load more button ------------------------- */

  #content{
    display: none;
  }

  

  @media screen and (max-width: 1024px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
      font-size: 10pt;
      margin: 0;
    }
  }

  @media screen and (max-width: 220px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
      font-size: 6pt;
      margin: 0;
    }
  }
