@mixin TypeFontSize {
  body, input, select, textarea { 
    font-size: 12pt; 
  }
}

@mixin image {
  border: 3px solid rgba(3, 197, 155, 0);
  border-radius: 5px;
  box-shadow: 0 0 7px rgb(184, 184, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  &:hover { 
    box-shadow: 0 15px 15px rgba(126, 126, 126, 0.6); 
    transition: 1s;
  }
}